USE [master]
GO
/****** Object:  Database [Bookshop]    Script Date: 6/12/2026 10:41:58 PM ******/
CREATE DATABASE [Bookshop]

ALTER DATABASE [Bookshop] SET COMPATIBILITY_LEVEL = 170
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
 USE [Bookshop]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 6/12/2026 10:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[A_ID] [nchar](10) NOT NULL,
	[A_Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Contact] [nchar](10) NULL,
	[Gender] [nchar](10) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[A_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 6/12/2026 10:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[Bill_ID] [int] IDENTITY(1,1) NOT NULL,
	[U_ID] [nchar](10) NULL,
	[Qty] [int] NULL,
	[Total_Amount] [decimal](18, 2) NULL,
	[Billing_Date] [datetime] NULL,
 CONSTRAINT [PK_Billing] PRIMARY KEY CLUSTERED 
(
	[Bill_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 6/12/2026 10:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[B_ISBN] [nvarchar](50) NOT NULL,
	[B_Name] [nvarchar](50) NULL,
	[B_Category] [nvarchar](50) NULL,
	[B_Price] [nvarchar](50) NULL,
	[Stock] [nvarchar](50) NULL,
	[P_ID] [nchar](10) NULL,
	[A_ID] [nchar](10) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[B_ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 6/12/2026 10:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[P_ID] [nchar](10) NOT NULL,
	[P_Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Contact] [nchar](10) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 6/12/2026 10:41:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[U_ID] [nchar](10) NOT NULL,
	[U_Name] [nchar](10) NULL,
	[F_Name] [nvarchar](50) NULL,
	[L_Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Contact] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Author] ([A_ID], [A_Name], [Address], [Contact], [Gender], [Email]) VALUES (N'a001      ', N'E. Harper', N'123 Harbor St, London, UK', N'0712345678', N'Female    ', NULL)
INSERT [dbo].[Author] ([A_ID], [A_Name], [Address], [Contact], [Gender], [Email]) VALUES (N'a002      ', N'M. Torres', N'45 Maple Ave, New York, NY, USA', N'0723456789', N'Male      ', N'tomes@gmail.com')
INSERT [dbo].[Author] ([A_ID], [A_Name], [Address], [Contact], [Gender], [Email]) VALUES (N'a003      ', N'L. Greenwood', N'9 Mountain Rd, Denver, CO, USA', N'0734567890', N'Female    ', NULL)
GO
SET IDENTITY_INSERT [dbo].[Billing] ON 

INSERT [dbo].[Billing] ([Bill_ID], [U_ID], [Qty], [Total_Amount], [Billing_Date]) VALUES (1, N'u001      ', 5, CAST(74.95 AS Decimal(18, 2)), CAST(N'2026-06-09T19:46:37.000' AS DateTime))
INSERT [dbo].[Billing] ([Bill_ID], [U_ID], [Qty], [Total_Amount], [Billing_Date]) VALUES (3, N'u001      ', 5, CAST(74.95 AS Decimal(18, 2)), CAST(N'2026-06-09T19:46:37.607' AS DateTime))
INSERT [dbo].[Billing] ([Bill_ID], [U_ID], [Qty], [Total_Amount], [Billing_Date]) VALUES (4, N'u001      ', 5, CAST(74.95 AS Decimal(18, 2)), CAST(N'2026-06-09T19:46:37.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Billing] OFF
GO
INSERT [dbo].[Book] ([B_ISBN], [B_Name], [B_Category], [B_Price], [Stock], [P_ID], [A_ID]) VALUES (N' 9780743273565', N'ABC', N'Educational / Academic', N'14.50', N'8', N'p003      ', N'a001      ')
INSERT [dbo].[Book] ([B_ISBN], [B_Name], [B_Category], [B_Price], [Stock], [P_ID], [A_ID]) VALUES (N'9780143127741', N'Silent Patient', N'Thriller  ', N'14.99     ', N'25        ', N'p001      ', N'a001      ')
INSERT [dbo].[Book] ([B_ISBN], [B_Name], [B_Category], [B_Price], [Stock], [P_ID], [A_ID]) VALUES (N'9780261103573', N'Mountain Tales', N'Fantasy   ', N'10.00     ', N'50        ', N'p003      ', N'a003      ')
GO
INSERT [dbo].[Publisher] ([P_ID], [P_Name], [Address], [Contact], [Email]) VALUES (N'p001      ', N'Harbor Press', N'123 Harbor St, London, UK', N'0812345678', NULL)
INSERT [dbo].[Publisher] ([P_ID], [P_Name], [Address], [Contact], [Email]) VALUES (N'p002      ', N'Silver Oak Publishing', N'45 Maple Ave, New York, NY, USA', N'0723456789', N'silva@gamil.com')
INSERT [dbo].[Publisher] ([P_ID], [P_Name], [Address], [Contact], [Email]) VALUES (N'p003      ', N'Crestline Books', N'9 Mountain Rd, Denver, CO, USA', N'0834567890', NULL)
GO
INSERT [dbo].[Staff] ([U_ID], [U_Name], [F_Name], [L_Name], [Address], [Contact], [Gender], [Password], [Role], [Email]) VALUES (N'u001      ', N'hijaz     ', N'hijaz', N'hafeel', N'dchjhkjdc', N'123467890 ', N'Male      ', N'@Hijaz123 ', N'admin     ', NULL)
INSERT [dbo].[Staff] ([U_ID], [U_Name], [F_Name], [L_Name], [Address], [Contact], [Gender], [Password], [Role], [Email]) VALUES (N'u002      ', NULL, N'hijaz', N'hafeel', N'dchjhkjdc', N'0772700548', N'Male      ', NULL, NULL, NULL)
INSERT [dbo].[Staff] ([U_ID], [U_Name], [F_Name], [L_Name], [Address], [Contact], [Gender], [Password], [Role], [Email]) VALUES (N'u003      ', NULL, N'ahmad', N'hafeel', N'12,main street', N'0772547896', N'Male', NULL, N'Staff', N'ahmad@mail.com')
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT (getdate()) FOR [Billing_Date]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_Billing_Staff] FOREIGN KEY([U_ID])
REFERENCES [dbo].[Staff] ([U_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_Billing_Staff]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([A_ID])
REFERENCES [dbo].[Author] ([A_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Publisher] FOREIGN KEY([P_ID])
REFERENCES [dbo].[Publisher] ([P_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Publisher]
GO
USE [master]
GO
